.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  

}
.card{
  padding: 20px;
  width: 40%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  border: 1px solid black;
  border-radius: 20px;
  margin: 10px;
}


.name{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.image{
  grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
    width: 100%;
    justify-self: center;
   
}
.images{

  width: 100%;

}
.name{
  justify-self: center;
  align-self: center;

}
.description, .price{
  justify-self: center;
  align-self: center;


}
.likeButton{
  justify-self: center;
  align-self: center;
  width: 60%;


}


@media only screen and (max-width: 700px){
  .card{
    padding: 20px;
    width: 80%;
  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
    
    
  
  
  }
  

}




