
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Quicksand&display=swap');
.root{
  font-family: 'Quicksand', sans-serif;
}
.header, h2{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.searchComponents{
  display:flex;
  flex-direction: row;
  justify-content: center;
  padding: 25px;
}
.search{
  font-family: 'Quicksand', sans-serif;
  padding: 10px;
  margin-right: 5px;
}
.searchButton{
  padding: 10px;
  margin-right: 5px;
  font-family: 'Quicksand', sans-serif;
}
/* View of the component  */
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
}
.card{
  padding: 20px;
  width: 40%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .25fr 1fr .25fr;
  border: 1px solid gray;
  border-radius: 20px;
  margin: 10px;
}
.card:hover{
  box-shadow: 0 0 15px rgb(150, 150, 198);
}
/* Likes Button */
.totalLikes{
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
}
.likeButton{
  align-self: center;
  color:white;
  background-image: url(./heart.png);
  background-size: 100%;
  border: none;
  background-color:white;
  cursor: pointer;
  height: 38px;
  width: 38px;
}
/* Cart Button */
.add-to-cart{
  display: flex;
  align-items: center;
}
.cart-button{
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
}
.name{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.image{
    grid-row-start: 2;
    grid-row-end: 4;   
}
.images{
  width: 85%;
}

@media only screen and (max-width: 620px){
  .card{
    padding: 20px;
    width: 80%;
  }
}
@media only screen and (min-width: 1200px){
  .card{
    padding: 20px;
    width: 25%;
  }
}




